* {
    box-sizing: border-box;
}
body {
    margin:0;
    background-color: #F6F7F9;
    cursor:default;
    user-select:none;
}
.nav {
    list-style-type:none;
    background-color: white;
    margin:0;
    padding:0;
    position: relative;
    width:100%;
    height:100px;
    box-shadow:0px 0px 2px rgb(188, 188, 188);
}
.navli {
    display:inline-block;
    padding:0;
    margin:0;
    position:absolute;
    top:25%;
    bottom:25%;
}
.navli.li-1 {
    margin-left:20px;
}
.navli.li-2 {
    left:20%;
}
.navli.li-3 {
    display:flex;
    height:44px;
    right:20px;
}
.company-name {
    height:44px;
    font-size:32px;
    margin:0;
    padding:0;
    font-family:Plus Jakarta Sans;
    font-weight:700;
    user-select: none;
    text-decoration:none;
    color:#3563E9;
}
.search-nav {
    position:relative;
    border:1px solid rgba(128, 128, 128, 0.173);
    padding-left:50px;
    padding-right:50px;
    font-size:16px;
    height:44px;
    border-radius:40px;
    width:500px;
    outline:none;
    transition: border 0.5s ease-in-out;
}
.search-nav:focus {
    border:1px solid rgb(122, 194, 230);
}
.search-submit {
    position:absolute;
    left:10px;
    cursor:pointer;
    height:44px;
    border:none;
    outline:none;
    background-color:#0000;
}
.filter {
    position:absolute;
    right:14px;
    cursor:pointer;
    height:44px;
    border:none;
    outline:none;
    background-color:#0000;
}
.filter-res {
    display:none;
}
.profile {
    position:relative;
    flex:25%;
    height:100%;
    border:1px solid rgba(128, 128, 128, 0.173);
    border-radius:50%;
    margin-right:10px;
    display: inline-block;
    width:44px;
    transition: border 0.3s ease-in-out;
}
.profile:hover {
    border:1px solid rgb(122, 194, 230);
}
.profile.fourth {
    margin-right:0;
}
.profimg {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.mycontainer {
    height:1860px;
}
.filter-box {
    height:100%;
    background-color:white;
    width:20%;
    float:left;
}
.filter-container {
    width:86%;
    margin:auto;
    margin-top:20px;
}
.type, .capacity {
    font-family:Plus Jakarta Sans;
    font-size:20px;
    color:#596780;
    font-weight:600;
}
label {
    cursor:pointer;
}
.span-1 {
    font-family:Plus Jakarta Sans;
    font-size:20px; 
    color:#90A3BF;
}
.span-2 {
    font-family:Plus Jakarta Sans; 
    font-size:12px; 
    font-weight:600;
    color:#90A3BF;
}
.radio-filterbox {
    appearance:none;
    cursor:pointer;
    width:20px;
    height:20px;
    border:1px solid #90A3BF;
    border-radius:50%;

    transition: border 0.1s ease-in-out;
}
.radio-filterbox:checked {
    border:6px solid rgb(0, 85, 255);
    
}
.slider {
    background-color:rgba(53, 99, 233, 1);
    border-radius: 20px;
    width:100%;
    height:10px;
    appearance:none;
    cursor:pointer;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline:3px solid white;
    appearance:none;
    width: 15px;
    height:15px;
    border-radius:50%;
    background-color:rgba(144, 163, 191, 1);
}

.content {
    width:80%;
    height:90%;
    float:left;
}
.container-2 {
    width:100%;
    text-align:center;
}
.container-3 {
    width:88%;
    text-align: center;
    margin:auto;
    position:relative;
    bottom:-50px;
}
.pickup, .dropoff {
    position:relative;
    width:40%;
    margin-top:80px;
    display:inline-block;
    height:136px;
    border:1px solid white;
    border-radius:10px;
    background-color:white;
}
.checkbox-1 {
    position:absolute;
    left:4%;
    top:20px;
    font-family:Plus Jakarta Sans;
    font-weight:700;
}
.select-title {
    font-family:Plus Jakarta Sans;
    font-weight:700;
}
.select-title.location {
    position:absolute;
    left:0;
    top:5px;
}

.select-title.date {
    position:absolute;
    left:35%;
    top:5px;
}

.select-title.time {
    position:absolute;
    left:75%;
    top:5px;
} 
.swap {
    height:136px;
    position:relative;
    width:11%;
    display: inline-block;
}
.select-location,.select-date,.select-time, .select-location-res,.select-date-res,.select-time-res {
    font-family:Plus Jakarta Sans;
    font-size:12px;
    cursor:pointer;
    color:#90A3BF;
    background-color:white;
    width:26%;
    border:none;
    outline:none;
}
.select-location:focus,.select-date:focus,.select-time:focus, .select-location-res:focus,.select-date-res:focus,.select-time-res:focus {
    display:none
}
.select-location-res,.select-date-res,.select-time-res {
    display:none;
}
.select-location, .select-location-res {
    position:absolute;
    left:0px;
    top:35px;
}

.select-date, .select-date-res {
    position:absolute;
    left:34.5%;
    top:35px;
}
.select-time, .select-time-res {
    position: absolute;
    left:74.5%;
    top:35px;
}
.personal-info {
    font-family:Plus Jakarta Sans;
}
.line {
    width: 48px;
    height: 0px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    transform: rotate(90deg);
}
.line.one {
    position:absolute;
    left:23%;
    top:35px;
}
.line.two {
    position:absolute;
    left:60%;
    top:35px;
}
.btn-swap {
    border:none;
    outline:none;
    background-color:#3563E9;
    border-radius: 10px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:60px;
    height:60px;
    cursor:pointer;
    transition: background-color 0.3s ease-in-out;
}
.btn-swap:hover {
    background-color:#4e77f2;
}
.swap-img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.container-4-no-content {
    cursor:not-allowed;
    display:none;
    place-content:center;
    font-family:Plus Jakarta Sans;
    font-size:32px;
    color:lightgray;
    width:91%;
    margin:auto;
    text-align:center;
    height:44vh;
    background-color:white;
    border-radius:12px;
    margin-top:80px;
}
.container-4 {
    width:100%;
    text-align:center;
    margin-top:60px;

}

.rent-popular {
    position:relative;
    width:26%;
    margin:1.75%;
    height:440px;
    background-color:White;
    border:1px solid white;
    border-radius:10px;
    display:inline-block;
}
.car-name {
    position:absolute;
    top:0px;
    left:6%;
    font-family:Plus Jakarta Sans;
}
.car-class {
    position:absolute;
    top:32px;
    left:6%;
}
.favorite-button {
    position:relative;
    right:-40%;
    top:20px;
    width:20px;
    height:20px;
    border:none;
    outline:none;
    background:#0000;
    cursor:pointer;
    transform:scale(1.6);
    color:lightgray;
}
.fa {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.section-2 {
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
}
.car-pic, .car-rec-pic {
    width:90%;
}
.section-3 {
    position:relative;
    top:60%;
    height:46px;
}   
.gas-capacity,.gearbox,.people-capacity,.pic-detail,.gas-capacity-rec, .gearbox-rec, .people-capacity-rec {
    display:block;
    float:left;
    width:30%;
    margin:0;
}
.pic-detail {
    width:100%;
}
.pic-detail,.car-class {
    font-family:Plus Jakarta Sans;
    color:#90A3BF;
    font-size:14px;
}
.section-4, .section-4-rec-details-2 {
    position:relative;
    top:70%;
    width:100%;
    height:55px;
}
.buy-price,.rent-now {
    display: inline-block;
}
.buy-price {
    position:absolute;
    left:2%;
    font-family:Plus Jakarta Sans;
    font-size:20px;
    overflow:hidden;
}
.buy-price-off {
    position:absolute;
    left:4%;
    bottom:10%;
    font-family:Plus Jakarta Sans;
    font-size:14px;
    color:#90A3BF;
}
.rent-now {
    position:absolute;
    right:6%;
    border:none;
    outline:none;
    background-color:#3563E9;
    padding:12px 18px;
    font-family:Plus Jakarta Sans;
    font-size:16px;

    color:white;
    border-radius:4px;
    cursor:pointer;
    overflow:hidden;

    transition:background-color 0.3s ease-in-out;
}
.rent-now:hover {
    background-color:#4e77f2;
}

.footer {
    width:100%;
    display: inline-block;
    background-color: #FFFFFF;
}
.container-5 {
    width:85%;
    margin:auto;
    margin-top:80px;
}
.leftfooter {
    width:49%;
    float:left
}
.rightfooter, .rightfooter-res {
    width:47%;
    float:right;
}
.rightfooter-res {
    display:none;
}
.company-name-footer {
    font-size:32px;
    font-family:Plus Jakarta Sans;
    color:#3563E9;
}
.about-morent {
    font-family:Plus Jakarta Sans;
    font-size:14px;
    color:#13131399;
    width:40%;
}
.right-footer-left, .right-footer-middle, .right-footer-right {
    width:33%;
    float:left;
}
.footer-title {
    color:#1A202C;
    font-family: Plus Jakarta Sans;
    font-size:20px;
    font-weight:700;
}
.footer-link {
    position:relative;
    display: inline-block;
    text-decoration:none;
    color:#13131399;
    font-size:14px;
    font-family:Plus Jakarta Sans;
    margin-top:14px;
}
.footer-link::before,.privacy::before, .terms::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid #3563E9;

    transform:scaleX(0);
    transform-origin:center;

    transition: transform 0.15s ease-in-out;
}
.footer-link:hover::before, .footer-link:focus::before,.privacy:hover::before, .terms:hover::before,.privacy:hover:before, .terms:focus::before {
    transform:scaleX(1);
}
.hr-footer {
    width:100%;
    height:2px;
    margin-top:40px;
    display: inline-block;
    background-color: #13131329;
}
.all-rights-reserved {
    color:#1A202C;
    font-family:Plus Jakarta Sans;
    font-size:16px;
    font-weight: 600;
}
.all-rights-reserved, .privacy, .terms {
    display: inline-block;

}
.privacy, .terms {
    float:right;
}
.privacy {
    margin-right:50px;
}
.privacy, .terms {
    position:relative;
    text-decoration:none;
    color:#1A202C;
    font-weight:600;
    font-family:Plus Jakarta Sans;
    font-size:16px;
}
.bottomfooter {
    margin-top:40px;
    margin-bottom:40px;
}
.bottomfooter-res {
    display:none;
    margin-top:40px;
    margin-bottom:40px;
}

.popular-view-top-of-footer {
    width:91%;
    height:88px;
    margin:auto;
    position:relative;
}
.show-more-car {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    cursor:pointer;
    bordeR:none;
    outline:none;
    padding:12px 22px;
    background-color:#3563E9;
    color:white;
    border-radius:4px;
    font-family:Plus Jakarta Sans;

    transition: background-color 0.3s ease-in-out;
}
.show-more-car:hover {
    background-color:#4e77f2;
}
.car-count {
    position:absolute;
    right:2%;
    top:50%;
    transform:translate(-50%,-50%);
    font-family:Plus Jakarta Sans;
    color:#90A3BF;
    font-size:14px;
}


@media screen and (max-width:1592px) {
    .buy-price {
        font-size:18px;
    }
    .rent-now {
        font-size:14px;
    } 
}

@media screen and (max-width:1400px) {
    .select-location-res,.select-date-res,.select-time-res {
        display:inline-block;
        width:20%;
    }
    .select-location,.select-date,.select-time {
        display:none;
    }
}

@media screen and (max-width:1200px) {
    .rent-popular {
        width:40%;
    }
    .mycontainer {
        height:2500px;
    }
    .rent-now {
        font-size:16px;
    }
    .buy-price {
        font-size:20px;
    }
}

@media screen and (max-width:940px) {
    .search-nav {
        width:400px;
    }
    .select-location-res,.select-date-res,.select-time-res {
        display:none;
    }
    .select-location,.select-date,.select-time {
        display:block;
    }
    .rent-popular, .rent-recomendation, .rent-recomendation-2 {
        width:40%;
    }
    .container-2 {
        width:86%;
        margin:auto;
    }
    .pickup {
        width:100%;
        z-index:0;
        height:120px;
    }
    .swap {
        width:100%;
        height:30px;
        z-index:1;
    }
    .dropoff {
        width:100%;
        z-index:0;
        margin-top:0px;
        height:120px;
    }
    .select-title {
        font-size:16px;
    }
    .select-location, .select-date, .select-time {
        font-size:12px;
        width:18%;
    }
    .footer {
        background-color:#F6F7F9;
    }
    .leftfooter {
        width:100%;
    }
    .about-morent {
        width:80%;
    }
    .rightfooter {
        display:none;
    }
    .rightfooter-res {
        display:inline-block;
        width:100%;
    }
    .right-footer-right {
        padding-left:10%;
    }
    .right-footer-left, .right-footer-right {
        width:50%;
        margin-top:40px;
    }
    .right-footer-middle {
        width:100%;
        margin-top:40px;
    }
    .footer-link {
        color: #90A3BF;
        font-size:16px;
    }
    .bottomfooter {
        display:none;
    }
    .bottomfooter-res {
        display:inline-block;
        width:100%;
    }
    .privacy {
        float:left;
        margin-right:0;
    }
    .terms {
        right:0;
    }
    .privacy,.terms, .all-rights-reserved {
        font-size:12px;
    }
    .all-rights-reserved {
        left:0;
    }
    .hr-footer {
        display:none;
    }
    .type, .capacity, .price {
        font-size:16px;
    }
    .span-1 {
        font-size:16px;
    }

    .radio-filterbox {
        width:16px;
        height:16px;
    }
    .filter-box {
        height:fit-content;
        border-bottom-right-radius:10px;
    }
}
@media screen and (max-width:850px) {
    .navli.li-2 {
        left:24%;
    }
    .search-nav {
        width:340px;
    }
    .select-location, .select-date, .select-time {
        width:22.5%;
    }
    .buy-price {
        font-size:16px;
    }
    .rent-now {
        font-size:14px;
    }
}

@media screen and (max-width:754px) {
    .search-nav {
        width:265px;
        padding-right:10px;
    }
    .mycontainer {
        margin:auto;
    }
    .content {
        width:100%;
        height:fit-content;
    }
    .filter-box {
        display:none;
    }
    
    .container-4 {
        width:86%;
        margin:auto;
        margin-top:20px;
    }
    .rent-popular {
        width:100%;
        height:420px;
        display: block;
        margin:0;
        margin-top:20px;
    }
    .section-2{
        width:60%;
        left:32%;
        top:170px;
    }
    .gas-capacity, .gearbox, .people-capacity {
        float:none;
        width:100%;
    }
    .section-3 {
        top:14%;
        left:70%;
        margin:0;
        width:20%;
    }
    .popular-view-top-of-footer {
        top:40px;
    }
    .section-4 {
        top:65%;
    }
    .people-capacity-pic, .gearbox-pic, .gas-capacity-pic {
        margin-top:20px;
    }
    .buy-price {
        font-size:20px;
    }
    .rent-now {
        font-size:16px;
        width:28%;
    }
    #sportOne {
        margin-top:0;
    }
    .pickup {
        margin-top:20px;
    }
}
@media screen and (max-width:650px) {
    .nav {
        height:200px;
    }
    .navli.li-1 {
        margin-left:8%;
    }
    .navli.li-3 {
        height:28px;
    }
    .company-name {
        font-size:24px;
    }
    .navli.li-2 {
        width:100%;
        left:0;
        top:120px;
    }
    .profile.res-1, .profile.res-2, .profile.res-3 {
        display:none;
    }
    .profile.fourth {
        width:28px;
    }
    .profimg.profile-image {
        width:28px;
        height:28px;
    }
    .search-nav {
        width:70%;
        float:left;
        height:48px;
        margin-left:6%;
        border-radius:10px;
        padding-right:5px;

    }
    .search-submit {
        margin-left:6%;
        height:48px;
    }
    .filter {
        margin-left:5px;
        position:static;
        height:48px;
        width:14%;
        border:1px solid rgba(128, 128, 128, 0.173) ;
        border-radius: 10px;
        float:left;
        transition: border 0.3s ease-in-out;
    }
    .filter:hover {
        border:1px solid rgb(122, 194, 230);
    }
    .select-location, .select-date, .select-time {
        width:28%;
    }
    .section-4 {
        top:68%;
    }
    .rent-now {
        width:40%;
    }
}    

@media screen and (max-width:477px) {
    .container-2 {
        width:96%;
    }
    .container-4 {
        width:96%;
    }
    .rent-now {
        font-size:14px;
        padding: 10px 6px;
    }
    .buy-price {
        font-size:18px;
    }
    .section-4 {
        top:70%;
    }
}

@media screen and (max-width:360px) {
    .section-2 {
        top:40%;
        left:50%;
        width:86%;
    }
    .section-3 {
        top:60%;
        left:6%;
        margin:0;
        width:90%;
    }
    .people-capacity-pic, .gas-capacity-pic, .gearbox-pic {
        margin-top:0;
    }
    .gas-capacity,.gearbox,.people-capacity,.pic-detail,.gas-capacity-rec, .gearbox-rec, .people-capacity-rec {
        display:block;
        float:left;
        width:33%;
        margin:0;
    }
    .pic-detail {
        width:100%;
    }
    .section-4 {
        top:72%;
    }
}