* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    -webkit-user-drag: none;
}
body {
    -webkit-user-select: none;
    user-select:none;
    background-color:#F6F7F9;
}

.nav {
    list-style-type:none;
    background-color: white;
    margin:0;
    padding:0;
    position: relative;
    width:100%;
    height:100px;
    box-shadow:0px 0px 2px rgb(188, 188, 188);
    z-index:1;
}
.navli {
    display:inline-block;
    padding:0;
    margin:0;
    position:absolute;
    top:25%;
    bottom:25%;
}
.navli.li-1 {
    margin-left:20px;
}
.navli.li-2 {
    left:20%;
}
.navli.li-3 {
    display:flex;
    height:44px;
    right:20px;
}
.company-name {
    height:44px;
    font-size:32px;
    margin:0;
    padding:0;
    font-family:Plus Jakarta Sans;
    font-weight:700;
    text-decoration:none;
    color:#3563E9;
}
.search-nav {
    position:relative;
    border:1px solid rgba(128, 128, 128, 0.173);
    padding-left:50px;
    padding-right:50px;
    font-size:16px;
    height:44px;
    border-radius:40px;
    width:500px;
    outline:none;
    transition: border 0.5s ease-in-out;
}
.search-nav:focus {
    border:1px solid rgb(122, 194, 230);
}
.search-submit {
    position:absolute;
    left:10px;
    cursor:pointer;
    height:44px;
    border:none;
    outline:none;
    background-color:#0000;
}
.filter {
    position:absolute;
    right:14px;
    cursor:pointer;
    height:44px;
    border:none;
    outline:none;
    background-color:#0000;
}
.filter-res {
    display:none;
}
.profile {
    position:relative;
    flex:25%;
    height:100%;
    border:1px solid rgba(128, 128, 128, 0.173);
    border-radius:50%;
    margin-right:10px;
    display: inline-block;
    width:44px;
    transition: border 0.3s ease-in-out;
}
.profile:hover {
    border:1px solid rgb(122, 194, 230);
}
.profile.res-3 {
    border:1px solid rgb(122, 194, 230);
}
.profile.fourth {
    margin-right:0;
}
.profimg {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.toggle-sidebar {
    border:none;
    color:rgba(89, 103, 128, 1);
    padding-top:4px;
    margin-left:6%;
    cursor:pointer;
    background:#0000;
    outline:none;
    font-size:24px;
    padding:6px 16px;

    display:none;
}

.side-bar {
    float:left;
    width:18%;
    height:89vh;
    background-color:#FFFFFF;
    position:relative;
    z-index:0;
    transition:0.3s ease-in-out;
}
.container-1, .container-2, .container-3 {
    width:92%;
    margin:auto;
}
.container-1, .container-2 {
    margin-top:30px;
}
.container-3 {
    position:absolute;
    bottom:0;
    margin-left:4%;
}
.header-1 {
    font-size:12px;
    font-family:plus jakarta sans;
    color:rgba(148, 167, 203, 0.4);
    font-weight:700;
    padding-top:40px;
    margin-left:10%;
}
.btn {
    cursor:pointer;
    outline:none;
    border:none;
    background-color:#0000;
    border-radius:10px;
    padding:14px;
    position:relative;
    font-family:plus jakarta sans;
    font-size:16px;
    color:rgba(144, 163, 191, 1);
    display:block;
    width:100%;
    text-align:left;
    
    transition:background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}
.btn.btn-1:is(:focus, :hover):not(:first-child), .btn.btn-2:is(:focus, :hover), .btn.btn-3:is(:focus, :hover) {
    background-color: rgba(53, 99, 233, 1);
    color:white;
}
.btn.btn-1:first-child {
    border-bottom:4px solid rgba(53, 99, 233, 1);
}
.btn.btn-1:not(:first-child), .btn.btn-2:not(:first-child) {
    margin-top:10px;
}
svg {
    width:24px;
    height:24px;
    vertical-align: middle;
    display: inline-block;
}
svg path {
    fill:rgba(144, 163, 191, 1);
}
.btn:is(:hover, :focus) svg:not(.dashboard) path {
    fill: white;
}
.dash-title {
    display:inline-block;
    margin-left:5%;
    vertical-align: middle;
}

.container-4 {
    width:35%;
    float:left;
    background-color:white;
    border-radius:10px;
    margin-left:1.7%;
    margin-top:30px;
}
.header-2 {
    font-family:plus jakarta sans;
    font-size:20px;
    font-weight:700;
    color:rgba(26, 32, 44, 1);
    display:block;
    margin-top:20px;
    margin-left:4%;
}
.container-4-1 {
    float:left;
    margin-left:4%;
    margin-top:30px;
    width:44%;
    height:220px;
    margin-bottom:20px;
}
.container-4-1-1 {
    width:220px;
    height:220px;
    position:relative;
}
.chart-count {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    font-size:24px;
    font-family:plus jakarta sans;
    color:rgba(26, 32, 44, 1);
    font-weight:700;
}
span.rental {
    font-size:14px;
    font-weight:500;
    color:rgba(144, 163, 191, 1);
}
.container-4-2 {
    width:49%;
    float:left;
    margin-top:30px;
    height:220px;
}
.container-4-2-1 {
    display:block;
}
.container-4-2-1:not(:first-child) {
    margin-top:28px;
}
.mark, .car-type, .rent-count {
    display:inline-block;
}
.mark {
    width:12px;
    height:12px;
    border-radius:50%;
}
.mark.sport {
    background-color:rgba(13, 53, 89, 1);
}
.mark.suv {
    background-color:rgba(23, 93, 156, 1);
}
.mark.coupe {
    background-color:rgba(33, 133, 222, 1);
}
.mark.hatchback {
    background-color:rgba(99, 169, 232, 1);
}
.mark.mpv {
    background-color:rgba(166, 206, 242, 1);
}
.car-type {
    font-family:plus jakarta sans;
    color:14px;
    color:rgba(144, 163, 191, 1);
    margin-left:3%;
}
.rent-count {
    float:right;
    font-family:plus jakarta sans;
    font-size:14px;
    font-weight:600;
    color:rgba(26, 32, 44, 1);
}


.container-5 {
    width:42%;
    float:left;
    margin-left:1.7%;
    margin-top:30px;
    background-color:white;
    border-radius:10px;
}
.container-5-1 {
    width:94%;
    margin:auto;
    margin-top:20px;
}
.header-3 , .view-all {
    display:inline-block;
}
.header-3 {
    font-family:plus jakarta sans;
    font-size:20px;
    font-weight:700;
    color:rgba(26, 32, 44, 1);
}
.view-all {
    border:none;
    outline:none;
    background:#0000;
    font-family:plus jakarta sans;
    font-size:12px;
    color:rgba(53, 99, 233, 1);
    float:right;
    cursor:pointer;
    position:relative;
    padding:4px;
}
.view-all::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid rgba(53, 99, 233, 1);

    transform: scaleX(0);
    transform-origin:center;

    transition:transform 0.2s ease-in-out;
}
.view-all:is(:hover, :focus)::before {
    transform:scaleX(0.85);
}
.container-5-2 {
    width:91%;
    margin:auto;
}
.container-5-2-1 {
    padding-top:30px;
    padding-bottom:30px;
}
.container-5-2-1:not(:last-child) {
    border-bottom:1px solid rgba(195, 212, 233, 0.4);
}
.car {
    width:22%;
    display:inline-block;
}
/* .car-img {
    width:114px;
    height:36px;
} */
.car-name, .date {
    display:inline-block;
}
.car-price, .car-type {
    display:inline-block;
}
.container-5-2-2 {
    width:77%;
    display:inline-block;
    margin-top:10px;
}
.container-5-2-3 {
    width:100%;
}
.container-5-2-3:last-child {
    margin-top:8px;
}
.date, .car-price {
    float:right;
}
.car-name, .date , .car-price {
    font-family:plus jakarta sans;
}
.car-name, .car-price {
    font-size:16px;
    font-weight:700;
    color:rgba(26, 32, 44, 1);
}
.date {
    font-size:12px;
    color:rgba(144, 163, 191, 1);
}
.car-type.recent {
    font-size:12px;
    margin:0;
}



@media screen and (max-width:1040px) {
    .side-bar {
        width:23%;
    }
}
@media screen and (max-width:850px) {
    .navli.li-2 {
        left:24%;
    }
    .search-nav {
        width:340px;
    }
}
@media screen and (max-width:812px) {
    .side-bar {
        width:25%;
    }
    .btn {
        font-size:14px;
        padding:10px;
    }
    svg {
        width:20px;
        height:20px;
    }
}
@media screen and (max-width:754px) {
    .search-nav {
        width:265px;
        padding-right:10px;
    }
    .filter-box {
        display:none;
    }
}
@media screen and (max-width:650px) {
    .toggle-sidebar {
        display:inline-block;
        margin-top:36px;
    }
    .nav {
        height:250px;
    }
    .navli.li-1 {
        margin-left:8%;
        margin-top:44px;
    }
    .navli.li-3 {
        height:28px;
        top:46px;
    }
    .company-name {
        font-size:24px;
    }
    .navli.li-2 {
        width:100%;
        left:0;
        top:120px;
    }
    .profile.res-1, .profile.res-2, .profile.res-3 {
        display:none;
    }
    .profile.fourth {
        width:28px;
    }
    .profimg.profile-image {
        width:28px;
        height:28px;
    }
    .search-nav {
        width:70%;
        float:left;
        height:48px;
        margin-left:6%;
        border-radius:10px;
        padding-right:5px;
        top:50px;
    }
    .search-submit {
        margin-left:6%;
        height:48px;
        top:50px;
    }
    .filter {
        margin-left:5px;
        position:static;
        height:48px;
        width:14%;
        border:1px solid rgba(128, 128, 128, 0.173) ;
        border-radius: 10px;
        float:left;
        transition: border 0.3s ease-in-out;
        margin-top:50px;
    }
    .filter:hover {
        border:1px solid rgb(122, 194, 230);
    }
    .side-bar {
        width:100%;
        overflow:hidden;
        height:0px;
    }
    .btn {
        text-align:center;
        padding:14px;
    }
    .dash-title {
        margin-left:10px;
    }
    .container-3 {
        position:static;
        margin-top:10px;
    }
}    