* {
    box-sizing: border-box;
}
body {
    margin:0;
    background-color: #F6F7F9;
    cursor:default;
    user-select:none;
}
.nav {
    list-style-type:none;
    background-color: white;
    margin:0;
    padding:0;
    position: relative;
    width:100%;
    height:100px;
    box-shadow:0px 0px 2px rgb(188, 188, 188);
}
.navli {
    display:inline-block;
    padding:0;
    margin:0;
    position:absolute;
    top:25%;
    bottom:25%;
}
.navli.li-1 {
    margin-left:20px;
}
.navli.li-2 {
    left:20%;
}
.navli.li-3 {
    display:flex;
    height:44px;
    right:20px;
}
.company-name {
    height:44px;
    font-size:32px;
    margin:0;
    padding:0;
    font-family:Plus Jakarta Sans;
    font-weight:700;
    user-select: none;
    text-decoration:none;
    color:#3563E9;
}
.search-nav {
    position:relative;
    border:1px solid rgba(128, 128, 128, 0.173);
    padding-left:50px;
    padding-right:50px;
    font-size:16px;
    height:44px;
    border-radius:40px;
    width:500px;
    outline:none;
    transition: border 0.5s ease-in-out;
}
.search-nav:focus {
    border:1px solid rgb(122, 194, 230);
}
.search-submit {
    position:absolute;
    left:10px;
    cursor:pointer;
    height:44px;
    border:none;
    outline:none;
    background-color:#0000;
}
.filter {
    position:absolute;
    right:14px;
    cursor:pointer;
    height:44px;
    border:none;
    outline:none;
    background-color:#0000;
}
.filter-res {
    display:none;
}
.profile {
    position:relative;
    flex:25%;
    height:100%;
    border:1px solid rgba(128, 128, 128, 0.173);
    border-radius:50%;
    margin-right:10px;
    display: inline-block;
    width:44px;
    transition: border 0.3s ease-in-out;
}
.profile:hover {
    border:1px solid rgb(122, 194, 230);
}
.profile.fourth {
    margin-right:0;
}
.profimg {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.mycontainer {
    height:2100px;
    overflow:hidden;
}
.filter-box {
    height:100%;
    background-color:white;
    width:20%;
    float:left;
}
.filter-container {
    width:86%;
    margin:auto;
    margin-top:20px;
}
.type, .capacity {
    font-family:Plus Jakarta Sans;
    font-size:20px;
    color:#596780;
    font-weight:600;
}
label {
    cursor:pointer;
}
.span-1 {
    font-family:Plus Jakarta Sans;
    font-size:20px; 
    color:#90A3BF;
}
.span-2 {
    font-family:Plus Jakarta Sans; 
    font-size:12px; 
    font-weight:600;
    color:#90A3BF;
}
.radio-filterbox {
    appearance:none;
    cursor:pointer;
    width:20px;
    height:20px;
    border:1px solid #90A3BF;
    border-radius:50%;

    transition: border 0.1s ease-in-out;
}
.radio-filterbox:checked {
    border:6px solid rgb(0, 85, 255);
    
}
.slider {
    background-color:rgba(53, 99, 233, 1);
    border-radius: 20px;
    width:100%;
    height:10px;
    appearance:none;
    cursor:pointer;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline:3px solid white;
    appearance:none;
    width: 15px;
    height:15px;
    border-radius:50%;
    background-color:rgba(144, 163, 191, 1);
}
.content {
    width:80%;
    height:90%;
    float:left;
}

.container-1 {
    width:96%;
    margin:auto;
    margin-top:30px;
    height:508px;
}
.car-pic-container-1 {
    position:relative;
    width:49%;
    height:360px;
    float:left;
    background:rgba(53, 99, 233, 1);
    border-radius:10px;
    margin-right:2%;
}
.nissan-gtr {
    position:absolute;
    z-index:1;
    bottom:-40px;
    /* width:340px;
    height:108px; */
    left:50%;
    transform:translate(-50%,-50%);
}
.new-pics {
    position:absolute;
    z-index:1;
    bottom:-40px;
    width:340px;
    height:108px;
    left:50%;
    transform:translate(-50%,-50%);
}
.new-pics-mgzx {
    position:absolute;
    z-index:1;
    bottom:-65px;
    width:400px;
    height:140px;
    left:50%;
    transform:translate(-50%,-50%);
}
.new-pics-all-new-rush, .new-pics-crv {
    position:absolute;
    z-index:3;
    width:100%;
    height:360px;
    border-radius:10px;
}
.nissan-gtr-inside {
    width:100%;
    position:absolute;
    height:360px;
    border-radius:10px;
}
.nissan-gtr-inside.one {
    z-index:-1;
}
.nissan-gtr-inside.two {
    z-index:-1;
}
.hcar-pic {
    font-family:Plus Jakarta Sans;
    font-size:32px;
    color:rgba(255, 255, 255, 1);
    width:70%;
    position:absolute;
    left:5%;
}
.pcar-pic {
    font-family:Plus Jakarta Sans;
    font-size:16px;
    color:rgba(255, 255, 255, 1);
    position:absolute;
    left:5%;
    top:120px;
    width:46%;
    text-align:justify;
}
.rectdiv-1 {
    overflow:hidden;
    height:120px;
    width:1200px;
    overflow:hidden;
}
.rectdiv-2 {
    overflow:hidden;
    height:120px;
    width:1200px;
    overflow:hidden;
}
.rectdiv-3 {
    overflow:hidden;
    height:120px;
    width:1200px;
    overflow:hidden;
}
.arrows {
    padding-left:12px;
}
.arrows.top-bottom {
    position:relative;
    left:-45px;
}
.selector-container {
    width:100%;
    text-align:center;
    margin-top:16px;
}
.carpics-div {
    width:152.77px;
    margin-right:20px;
    display:inline-block;
    height:128px;
    position:relative;
    transition: border 0.2s ease-in-out;
}
.carpics-div.selected-1 {
    border:2px solid rgba(53, 99, 233, 1);
    border-radius:10px;
}
.carpic.selected {
    width:132px;
    height:108px;
    transition: all 0.5s ease;
    border-radius:10px;
}
.carpics-div.selected-2:active .carpic.inside-1, .carpics-div.selected-3:active .carpic.inside-2, .carpics-div.selected-1:active .carpic.selected {
    width:132px;
    height:108px;
}
.carpics-div.selected-2:hover .carpics-div.selected-1 {
    border:none;
}
.carpic.inside-1, .carpic.inside-2 {
    border-radius:10px;
}
.carpics-div.selected-2 {
    z-index:2;
    width:152.77px;
    height:128px;
}
.carpic.inside-1, .carpic.inside-2 {
    height:100%;
    width:100%;
    transition: all 0.5s ease;
}

.carpics-div.selected-2:hover .carpics-div.selected-1, .carpics-div.margin.selected-3 .carpics-div.selected-1 {
    border:none;
}
.carpics-div.margin {
    margin-right:0;
}
.carpic {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.carpic-button {
    border:none;
    outline:none;
    background-color:#0000;
    cursor:pointer;
    width:100%;
    height:100%;
}
.car-detail {
    width:49%;
    float:left;
    height:508px;
    background:rgba(255, 255, 255, 1);
    border-radius:10px;
    position:relative;
}
.hcar-detail {
    position:absolute;
    left:5%;
    font-family:Plus Jakarta Sans;
    font-size:32px;
    color:rgba(26, 32, 44, 1);
}
button.red-like {
    position:absolute;
    right:2.5%;
    top:20px;
    background:#0000;
    outline:none;
    border:none;
    cursor:pointer;
}
.stars-container {
    width:50%;
    height:20px;
    position:absolute;
    left:3.5%;
    top:75px;
}
.review-star {
    width:6.4%;
    float:left;
}
button.star-button {
    outline:none;
    border:none;
    background:#0000;
    cursor:pointer;
}
.review {
    width:60%;
    float:left;
    margin-left:10px;
    margin-top:1px;
    font-family:Plus Jakarta Sans;
    font-size:14px;
    color:rgba(89, 103, 128, 1);
    font-weight:500;
}
.pcar-detail {
    position:absolute;
    width:90%;
    left:5%;
    right:5%;
    top:110px;
    text-align: justify;
    font-family:Plus Jakarta Sans;
    font-size:20px;
    color:rgba(89, 103, 128, 1);
}
.properties-container {
    width:90%;
    position:absolute;
    left:5%;
    right:5%;
    top:240px;
}
.car-properties-1, .car-properties-2 {
    width:42%;
    float:left;
}
.car-properties-1 {
    margin-right:8%;
}
.car-properties-2 {
    margin-left:8%;
}
.pcar-properties-1, .pcar-properties-2 {
    display:inline-block;
}
.pcar-properties-1 {
    float:left;
    font-family:Plus Jakarta Sans;
    font-size:20px;
    color:rgba(144, 163, 191, 1);
}
.pcar-properties-2 {
    float:right;
    font-family:Plus Jakarta Sans;
    font-size:20px;
    color:rgba(89, 103, 128, 1);
    font-weight:600;
}
.car-price {
    position:absolute;
    left:5%;
    bottom:60px;
    font-family:Plus Jakarta Sans;
    font-size:28px;
    font-weight:700;
    color:rgba(26, 32, 44, 1);
}
.car-price-days {
    font-family:Plus Jakarta Sans;
    font-size:16px;
    font-weight:700;
    color:rgba(144, 163, 191, 1);
}
.off-price {
    position:absolute;
    left:5%;
    bottom:36px;
    font-family:Plus Jakarta Sans;
    font-size:16px;
    font-weight:700;
    color:rgba(144, 163, 191, 1);
}
.rent-now-container-1 {
    position:absolute;
    right:5%;
    bottom:32px;
    width:38%;
    height:64px;
    font-family:Plus Jakarta Sans;
    font-size:24px;
    border-radius:4px;
    color:white;
    background:rgba(53, 99, 233, 1);
    outline:none;
    border:none;
    cursor:pointer;

    transition: background-color 0.3s ease-in-out;
}
.rent-now-container-1:hover {
    background-color:#4e77f2;
}

.container-2 {
    width:96%;
    margin:auto;
    border-radius:10px;
    background-color:white;
    height:485px;
    position:relative;
    margin-top:40px;
}
.card-name {
    position:absolute;
    left:2%;
    top:10px;
    font-family:plus jakarta sans;
    font-size:20px;
    font-weight:600;
    color:rgba(26, 32, 44, 1);
}
.comment-counter {
    position:absolute;
    left:120px;
    top:26px;
    font-family:plus jakarta sans;
    font-size:14px;
    font-weight:700;
    color:white;
    background-color:rgba(53, 99, 233, 1);
    padding:6px 14px;
    border-radius:4px;
}
.first-commenter {
    width:96%;
    position:absolute;
    left:2%;
    right:2%;
    top:90px;
}
.commenter-name {
    position:absolute;
    left:70px;
    top:0;
    margin:0;
    font-family:plus jakarta sans;
    font-size:20px;
    font-weight:700;
    color:rgba(26, 32, 44, 1);
}
.commenter-job {
    position:absolute;
    left:70px;
    top:38px;
    margin:0;
    font-family:plus jakarta sans;
    font-size:14px;
    font-weight:500;
    color:rgba(144, 163, 191, 1);
}
.commenter-pic {
    cursor:pointer;
}
.comment-date {
    position:absolute;
    right:0px;
    top:0;
    margin:0;
    font-family:plus jakarta sans;
    font-size:14px;
    font-weight:500;
    color:rgba(144, 163, 191, 1);
}
.comment-star-container {
    width:10%;
    position:absolute;
    right:-20px;
    top:40px;
}
.comment-star {
    width:14%;
    display:inline-block;
}
.comment, .comment-res {
    width:94%;
    margin-left:72px;
    font-family:plus jakarta sans;
    font-size:14px;
    font-weight:400;
    color:rgba(89, 103, 128, 1);
}
.comment-res {
    display:none;
}
.second-commenter {
    width:96%;
    position:absolute;
    left:2%;
    right:2%;
    top:240px;
}
.showall-comments {
    position:absolute;
    margin:0;
    bottom:20px;
    left:50%;
    transform:translate(-50%,-50%);
    border:none;
    outline:none;
    background-color:#0000;
    cursor:pointer;
    color:rgba(144, 163, 191, 1);
    font-family:plus jakarta sans;
    font-size:16px;
    font-weight:600;
}


.container-4 {
    width:100%;
    text-align:center;
    margin-top:60px;

}
.rent-popular {
    position:relative;
    width:26%;
    margin:1.75%;
    height:388px;
    background-color:White;
    border:1px solid white;
    border-radius:10px;
    display:inline-block;
}
.car-name {
    position:absolute;
    top:0px;
    left:6%;
    font-family:Plus Jakarta Sans;
}
.car-class {
    position:absolute;
    top:32px;
    left:6%;
}
.red-like {
    position:absolute;
    right:6%;
    top:20px;
}
.section-2 {
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
}
.car-pic, .car-rec-pic {
    width:90%;
}
.section-3 {
    position:relative;
    top:60%;
    height:46px;
}   
.gas-capacity,.gearbox,.people-capacity,.pic-detail,.gas-capacity-rec, .gearbox-rec, .people-capacity-rec {
    display:block;
    float:left;
    width:30%;
    margin:0;
}
.pic-detail {
    width:100%;
}
.pic-detail,.car-class {
    font-family:Plus Jakarta Sans;
    color:#90A3BF;
    font-size:14px;
}
.section-4, .section-4-rec-details-2 {
    position:relative;
    top:70%;
    width:100%;
    height:55px;
}
.buy-price,.rent-now {
    display: inline-block;
}
.buy-price {
    position:absolute;
    left:6%;
    font-family:Plus Jakarta Sans;
    font-size:20px;
    overflow:hidden;
}
.buy-price-off {
    position:absolute;
    left:6%;
    bottom:10%;
    font-family:Plus Jakarta Sans;
    font-size:14px;
    color:#90A3BF;
}
.rent-now {
    position:absolute;
    right:6%;
    border:none;
    outline:none;
    background-color:#3563E9;
    padding:12px 18px;
    font-family:Plus Jakarta Sans;
    font-size:16px;

    color:white;
    border-radius:4px;
    cursor:pointer;
    overflow:hidden;

    transition:background-color 0.3s ease-in-out;
}
.rent-now:hover {
    background-color:#4e77f2;
}

.popular-view {
    width:86%;
    margin:auto;
    position:relative;
}
.popular-car {
    text-decoration:none;
    display: inline-block;
    position:absolute;
    left:2%;
    top:20px;
    font-family:Plus Jakarta Sans;
    font-weight:600;
    color:#90A3BF;
}
.view-all {
    text-decoration:none;
    display: inline-block;
    position:absolute;
    right:2%;
    top:20px;
    font-family:Plus Jakarta Sans;
    font-weight:600;
    color:#3563E9;
    
    transition: transform 0.2s ease-in-out;
}
.popular-car.recent {
    top:34px;
}
.view-all.recent {
    top:34px;
}
.popular-car::before, .view-all::before,.recomendation-car::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid #90A3BF;

    transform:scaleX(0);
    transform-origin:left;

    transition: transform 0.2s ease-in-out;
}
.view-all::before {
    border-bottom:2px solid #3563E9;
}
.popular-car:hover::before,.popular-car:focus::before,.view-all:hover::before,.view-all:focus::before,.recomendation-car:hover::before,.recomendation-car:focus::before {
    transform:scaleX(1);
}



.footer {
    width:100%;
    display: inline-block;
    background-color: #FFFFFF;
}
.container-5 {
    width:85%;
    margin:auto;
    margin-top:80px;
}
.leftfooter {
    width:49%;
    float:left
}
.rightfooter, .rightfooter-res {
    width:47%;
    float:right;
}
.rightfooter-res {
    display:none;
}
.company-name-footer {
    font-size:32px;
    font-family:Plus Jakarta Sans;
    color:#3563E9;
}
.about-morent {
    font-family:Plus Jakarta Sans;
    font-size:14px;
    color:#13131399;
    width:40%;
}
.right-footer-left, .right-footer-middle, .right-footer-right {
    width:33%;
    float:left;
}
.footer-title {
    color:#1A202C;
    font-family: Plus Jakarta Sans;
    font-size:20px;
    font-weight:700;
}
.footer-link {
    position:relative;
    display: inline-block;
    text-decoration:none;
    color:#13131399;
    font-size:14px;
    font-family:Plus Jakarta Sans;
    margin-top:14px;
}
.footer-link::before,.privacy::before, .terms::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid #3563E9;

    transform:scaleX(0);
    transform-origin:center;

    transition: transform 0.15s ease-in-out;
}
.footer-link:hover::before, .footer-link:focus::before,.privacy:hover::before, .terms:hover::before,.privacy:hover:before, .terms:focus::before {
    transform:scaleX(1);
}
.hr-footer {
    width:100%;
    height:2px;
    margin-top:40px;
    display: inline-block;
    background-color: #13131329;
}
.all-rights-reserved {
    color:#1A202C;
    font-family:Plus Jakarta Sans;
    font-size:16px;
    font-weight: 600;
}
.all-rights-reserved, .privacy, .terms {
    display: inline-block;

}
.privacy, .terms {
    float:right;
}
.privacy {
    margin-right:50px;
}
.privacy, .terms {
    position:relative;
    text-decoration:none;
    color:#1A202C;
    font-weight:600;
    font-family:Plus Jakarta Sans;
    font-size:16px;
}
.bottomfooter {
    margin-top:40px;
    margin-bottom:40px;
}
.bottomfooter-res {
    display:none;
    margin-top:40px;
    margin-bottom:40px;
}
@media screen and (max-width:1401px) {
    .mycontainer {
        height:2640px;
    }
    .car-pic-container-1 {
        width:100%;
    }
    .car-detail {
        margin-top:190px;
        width:100%;
    }
    .hcar-detail, .pcar-detail, .properties-container, .car-price, .off-price {
        left:1.8%;
    }
    .pcar-detail {
        width:96%;
    }
    .properties-container {
        width:96%;
    }
    .rent-now-container-1 {
        right:2.2%;
    }
    .stars-container {
        left:1.3%;
        width:30%;
    }
    .container-2 {
        margin-top:600px;
    }
    .comment-star-container {
        right:-6px;
    }
}
@media screen and (max-width:1315px) {
    .stars-container {
        width:36%;
    }
    .comment-star-container {
        width:12%;
        right:-10px;
    }
    .comment {
        width:90%;
    }
    .container-4 {
        margin-top:70px;
    }
    .rent-popular {
        width:30%;
        margin:1%;
    }
}
@media screen and (max-width:1150px) {
    .stars-container {
        width:42%;
    }
    .comment-star-container {
        width:14%;
    }
    .container-4 {
        margin-top:80px;
        white-space: nowrap;
        overflow:auto;
        padding-left:1%;
        padding-right:1%;
    }
    .rent-popular {
        width:40%;
    }
    .view-all, .popular-car {
        top:30px;
    }
}
@media screen and (max-width:1000px) {
    .stars-container {
        width:48%;
    }
    .comment-star-container {
        width:16%;
    }
    .comment {
        width:88%;
    }
}
@media screen and (max-width:940px) {
    .footer {
        background-color:#F6F7F9;
    }
    .leftfooter {
        width:100%;
    }
    .about-morent {
        width:80%;
    }
    .rightfooter {
        display:none;
    }
    .rightfooter-res {
        display:inline-block;
        width:100%;
    }
    .right-footer-right {
        padding-left:10%;
    }
    .right-footer-left, .right-footer-right {
        width:50%;
        margin-top:40px;
    }
    .right-footer-middle {
        width:100%;
        margin-top:40px;
    }
    .footer-link {
        color: #90A3BF;
        font-size:16px;
    }
    .bottomfooter {
        display:none;
    }
    .bottomfooter-res {
        display:inline-block;
        width:100%;
    }
    .privacy {
        float:left;
        margin-right:0;
    }
    .terms {
        right:0;
    }
    .privacy,.terms, .all-rights-reserved {
        font-size:12px;
    }
    .all-rights-reserved {
        left:0;
    }
    .hr-footer {
        display:none;
    }
    .type, .capacity, .price {
        font-size:16px;
    }
    .span-1 {
        font-size:16px;
    }

    .radio-filterbox {
        width:16px;
        height:16px;
    }
    .filter-box {
        height:98%;
        border-bottom-right-radius:10px;
    }
}
@media screen and (max-width:900px) {
    .stars-container {
        width:52%;
    }
    .comment-star-container {
        width:18%;
    }
    .rent-popular {
        width:44%;
    }
}
@media screen and (max-width:850px) {
    .navli.li-2 {
        left:24%;
    }
    .search-nav {
        width:340px;
    }
}
@media screen and (max-width:800px) {
    .stars-container {
        width:54%;
    }
    .comment-star-container {
        width:20%;
    }
    .rent-popular {
        width:46%;
    }
}
@media screen and (max-width:754px) {
    .search-nav {
        width:265px;
        padding-right:10px;
    }
    .mycontainer {
        margin:auto;
    }
    .content {
        width:100%;
        height:fit-content;
    }
    .filter-box {
        display:none;
    }
    .comment-star-container {
        width:18%;
    }
    .rent-popular {
        width:42%;
    } 
}
@media screen and (max-width:650px) {
    .nav {
        height:200px;
    }
    .navli.li-1 {
        margin-left:8%;
    }
    .navli.li-3 {
        height:28px;
    }
    .company-name {
        font-size:24px;
    }
    .navli.li-2 {
        width:100%;
        left:0;
        top:120px;
    }
    .profile.res-1, .profile.res-2, .profile.res-3 {
        display:none;
    }
    .profile.fourth {
        width:28px;
    }
    .profimg.profile-image {
        width:28px;
        height:28px;
    }
    .search-nav {
        width:70%;
        float:left;
        height:48px;
        margin-left:6%;
        border-radius:10px;
        padding-right:5px;

    }
    .search-submit {
        margin-left:6%;
        height:48px;
    }
    .filter {
        margin-left:5px;
        position:static;
        height:48px;
        width:14%;
        border:1px solid rgba(128, 128, 128, 0.173) ;
        border-radius: 10px;
        float:left;
        transition: border 0.3s ease-in-out;
    }
    .filter:hover {
        border:1px solid rgb(122, 194, 230);
    }
    .filter-box {
        display:none;
    }
    .mycontainer {
        height:fit-content;
    }
    .car-pic-container-1 {
        width: 94%;
        margin-left:3%;
        margin-right:3%;
    }
    .car-detail {
        width:94%;
        margin-top:180px;
        margin-left:3%;
        margin-right:3%;
    }
    .pcar-detail {
        color:rgba(144, 163, 191, 1);
        width:82%;
    }
    .container-2 {
        margin-top:600px;
        width:90%;
        margin-left:5%;
        margin-right:5%;
        height: 450px;
    }
    .rent-now-container-1 {
        width:40%;
        height:80px;
        font-size:24px;
        font-weight:700;
        bottom:28px;
    }
    .review {
        color:rgba(144, 163, 191, 1);
    }
    .comment-star-container {
        width:20%;
        right:-1.5%;
    }
    .comment {
        display:none;
    }
    .comment-res {
        display:inline-block;
        color:rgba(144, 163, 191, 1);
        width:86%;
    }



    .container-4 {
        width:100%;
        overflow:auto;
        white-space:nowrap;
        padding-left:4%;
        margin-top:80px;
    }
    .rent-popular {
        width:70%;
    }
    .recomendation-car {
        top:20px;
    }
    .container-4-recomendation, .container-4-recomendation-2 {
        width:86%;
        margin:auto;
        margin-top:60px;
    }
    .container-4-recomendation-2 {
        margin-top:20px;
    }
    .rent-recomendation, .rent-recomendation-2 {
        width:100%;
        height:340px;
        display: block;
        margin:0;
        margin-top:20px;
    }
    .section-2-rec {
        width:60%;
        left:32%;
    }
    .gas-capacity-rec, .gearbox-rec, .people-capacity-rec {
        float:none;
        width:100%;
    }
    .people-capacity-pic, .gas-capacity-pic, .gearbox-pic {
        margin-top:20px;
    }
    .section-3-rec-details-1 {
        top:14%;
        left:70%;
        margin:0;
        width:20%;
    }
    .rent-recomendation.four, .rent-recomendation.five, .rent-recomendation.eight {
        display:none;
    }
    .popular-view-top-of-footer {
        top:40px;
    }
    .section-4-rec-details-2 {
        top:65%;
    }
}    

@media screen and (max-width:605px) {
    .comment-star-container {
        right:-0.75%;
    }
    .hcar-pic {
        font-size:24px;
        font-weight:600;
        width:80%;
    }
    .pcar-pic {
        width:58%;
        top:80px;
    }
}

@media screen and (max-width:562px) {
    .selector-container {
        width:86%;
        margin:auto;
        margin-top:16px;
        white-space: nowrap;
        overflow:auto;
    }
    .car-detail {
        height:480px;
    }
    .hcar-detail {
        font-size:28px;
    }
    .stars-container {
        width:65%;
    }
    .pcar-detail {
        font-size:18px;
    }
    .pcar-properties-1, .pcar-properties-2 {
        font-size:16px;
    }
    .comment-star-container {
        width:22%;
    }
}

@media screen and (max-width:484px) {
    .hcar-pic {
        font-size:20px;
    }
    .pcar-pic {
        font-size:14px;
        top:70px;
    }
    .car-pic-container-1 {
        height:270px;
    }
    .rectdiv-1, .rectdiv-2, .rectdiv-3 {
        height:90px;
    }
    .arrows.top-bottom, .arrows {
        height:90px;
    }
    .arrows.top-bottom {
        left:-35px;
    }
    .nissan-gtr-inside.one, .nissan-gtr-inside.two, .new-pics-all-new-rush, .new-pics-crv {
        height:270px;
    }
    .nissan-gtr {
        width:60%;
        bottom:-20px;
    }
    .new-pics {
        width:60%;
        height:80px;
        bottom:-20px;
    }
    .new-pics-mgzx {
        width:74%;
        height:110px;
        bottom:-48px;
    }
    .stars-container {
        width:75%;
    }
    .container-2 {
        margin-top:510px;
    }
    .card-name {
        left:5%;
    }
    .first-commenter, .second-commenter {
        width:90%;
        left:5%;
        right:5%;
    }
    .comment-star-container {
        width:26%;
    }
    .comment-res {
        width:82%;
    }
    
}

@media screen and (max-width:432px) {
    .hcar-detail {
        font-size:26px;
    }
    .pcar-detail {
     font-size:16px;
     width:86%;   
    }
    .pcar-properties-1, .pcar-properties-2 {
        font-size:14px;
    }
    .rent-now-container-1, .car-price {
        font-size:20px;
    }
    .rent-now-container-1 {
        height:60px;
    }
    .car-properties-2 {
        margin-left: 0%;
    }   
    .car-properties-1, .car-properties-2 {
        width:46%;
    }
    .off-price {
        font-size:12px;
    }
}

@media screen and (max-width:418px) {
    .hcar-pic {
        font-size:18px;
        width:86%;
    }
    .pcar-pic {
     font-size:14px;
     width:70%;   
    }
    .nissan-gtr {
        width:74%;
    }
    .new-pics {
        width:70%;
    } 
    .new-pics-mgzx {
        width:86%;
    }
    .stars-container {
        width:90%;
    }
    .comment-star-container {
        width:34%;
        right:-2.5%;
    }
    .rent-now {
        font-size:16px;
    }
    .buy-price {
        font-size:18px;
    }
    .comment-res {
        width:72%;
        text-align:justify;
    }
}

@media screen and (max-width:370px) {
    .commenter-name {
        font-size:16px;
        left:64px;
    }
    .commenter-job {
        font-size:12px;
        left:64px;
    }
    .comment-res {
        margin-left:66px;
    }
    .commenter-pic {
        transform:scale(0.8);
    }
    .img.stars {
        transform:scale(0.5);
    }
    .first-commenter, .second-commenter {
        width:96%;
        left:1%;
        right:3%;
    }
    .section-2 {
        width:92%;
    }
    .buy-price {
        font-size:16px;
    }
    .rent-now {
        padding:0;
        width:44%;
        height:40px;
        font-size:14px;
    }
    .buy-price-off {
        font-size:12px;
        bottom:20%;
    }
    .section-4 {
        top:290px;
    }
}

@media screen and (max-width:325px) {
    .nissan-gtr {
        width:82%;
    }
    .new-pics-mgzx {
        height:100px;
        bottom:-40px;
        width:98%;
    }
    .car-detail {
        height:540px;
    }
    .stars-container, .comment-star-container, .comment-date {
        display:none;
    }
    .pcar-detail {
        top:60px;
    }
    .properties-container {
        top:210px;
        width:86%;
    }
    .car-properties-1 {
        margin-right:0;
    }
    .car-properties-1, .car-properties-2 {
        width:96%;
        margin-left:2%;
    }
    .car-price {
        bottom:110px;
        left:6.5%;
    }
    .off-price {
        bottom:90px;
        left:6.5%;
    }
    .rent-now-container-1 {
        width:86%;
        left:7%;
        right:7%;
        bottom:14px;
    }
    .container-2 {
        margin-top:560px;
        height:500px;
    }
    .second-commenter {
        top:260px;
    }
    .comment-res {
        width:66%;
    }
    .rent-popular {
        width:80%;
    }
    .popular-car.recent, .popular-car, .view-all.recent, .view-all {
        font-size:14px;
    }
}
@media screen and (max-width:290px) {
    .new-pics-mgzx {
        height:90px;
        bottom:-40px;
        width:98%;
    }
}